.card {
  display: flex;
  background-color: #373737;
  border-radius: 1rem;
  padding: 2rem;
  width: 1200px;
  margin-bottom: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0.8;
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.card:hover {
  opacity: 1;
}

.card:hover h1 {
  text-decoration: underline;
}

.company-logo {
  margin-right: 1.5rem;
  min-width: max-content;
}

.company-logo img {
  border-radius: 1rem;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
}

.text-area {
  text-align: left;
}

.title-area {
  margin-bottom: 2rem;
}
.content-area {
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}
